body{
    text-align: center;
    font-family: sans-serif;
    color: green;
}
a{
    color: brown;
    text-align: right;
}
h2{
    color: darkgreen;
}
img, table, tr, td{
    border: 3px solid brown;
}
p{
    font-size: 20px;
}
h2{
    font-size: 35px;
}
h1{
    font-size: 50px;
}
footer, header, h1{
    background-color: black;
    color: whitesmoke;
}
*{
    border-left: 2px double green;
    border-right: 2px double green;
    background: rgb(99,237,173);
background: linear-gradient(90deg, rgba(99,237,173,1) 36%, rgba(43,174,201,1) 45%, rgba(98,241,68,1) 100%);
}
